.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: right;
  width: 50%;
}

.center-content {
  display: inline-block;
  text-align: start;
}

.remark-code {
  text-align: start;
}

h3 {
  margin-bottom: 80px;
}
